# .env.example
APP_NAME="Bancolombia AI Agent"
VERSION="1.0.0"

# Seguridad de acceso a nuestro API
API_KEY="mi-api-key-segura-123"

# Credenciales LLM Claude
ANTHROPIC_API_KEY="sk-ant-tu-clave-aqui"

# Base de datos
DATABASE_URL="sqlite+aiosqlite:///./agent.db"

# Transporte para el Base de Conocimiento (MCP Client)
MCP_TRANSPORT="stdio"
MCP_SERVER_COMMAND="python"
# Para local/evaluadores, asume que el modulo 'scraping-indexing' está instalado o asequible
MCP_SERVER_ARGS="-m;scraping_indexing.server"
